media/post_images/

media/posts

static/images/

# === Python ===
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.pkl
*.log

# === Django ===
*.sqlite3
db.sqlite3
media/
staticfiles/
.env

# === Virtualenv ===
venv/
env/
.venv/
.env/
ENV/

# === VS Code / IDEs ===
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# === Mac/Linux ===
.DS_Store
Thumbs.db

# === Docker ===
*.pid
*.bak
docker-compose.override.yml
docker-compose.prod.yml

# === Node (if you ever add a frontend) ===
node_modules/
build/
dist/

# === Git ===
*.orig
